body {
  animation: pulsate 0.11s ease-in-out infinite alternate;
  cursor: default;
  display: flex;
  font-family: 'Chakra Petch', sans-serif;
  height: 100vh;
  margin: 0;
}

.player-1,
.player-2 {
  background: linear-gradient(#0d001a, #26004d, #400080);
  width: 25%;
}

main,
.player-1,
.player-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  background-color: black;
  width: 50%;
}

.title {
  margin-bottom: 10vh;
}

h1,
.winner {
  font-size: 95px;
  height: 100%;
  margin: 20px 0;
}

h1,
.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2,
p {
  font-size: 90px;
}

.board-container {
  align-items: center;
  width: 85%;
  height: 70%;
  display: grid;
  grid-template-rows: 34% 33% 34%;
  grid-template-columns: 34% 33% 34%;
  justify-content: center;
  align-content: center;
}

.board {
  font-size: 15vh;
  height: 100%;/
  cursor: pointer;
}

.border-bottom {
  border-bottom: 5px solid #400080;
}

.border-left {
  border-left: 5px solid #400080;
}

.player-input{
    margin: 0;
}

.hidden {
  display: none;
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 1px #fff,
    0 0 21px #fff,
    0 0 15px #ff0000,
    0 0 30px #ff0000,
    0 0 42px #ff0000,
    0 0 65px #ff0000,
    0 0 100px #ff0000;
}

@keyframes pulsate {
  100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #ff0000,
      0 0 80px #ff0000,
      0 0 90px #ff0000,
      0 0 100px #ff0000,
      0 0 150px #ff0000;
  }
  3% {
    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #ff0000,
    0 0 73px #ff0000,
    0 0 80px #ff0000,
    0 0 94px #ff0000,
    0 0 140px #ff0000;
}
